:root{
    --html:#53B0AE;
    --css:#9CDBFF;
    --js:#FFEFAF;
    --figma:#CDB3D4;
    --c1:#4d9cca;
}


*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    font-family: sans-serif;
    padding: 0px 0px;
    max-width: 960px;
    margin:0 auto;
 
}
header{
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
    background: var(--c1);
    border-radius:15px 15px 0px 0px;
    
}

footer{background: var(--c1);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 15px 15px ;
}
a{
    text-decoration: none;
    color: black;
}
h1{text-align: center; color: white; padding:20px}
h3{margin:5px;}
p{margin:5px;}

ul#ejercicios{ margin:20px auto;}
ul#ejercicios > li{
    width: 200px;
    border: grey 1px solid;
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    background-color: white;
    
}
/* ul#ejercicios > li:hover{
    background: black;
} */

ul.tags{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display:flex;
    gap:6px;
    align-items: flex-end;  
}

ul#ejercicios.grid{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

/* Grid */
ul#ejercicios.grid .texto{
    height: 140px;
}
/*  */

/* List */
ul#ejercicios.list{
    display:flex;
    flex-direction: column;
}
ul#ejercicios.list > li{
    list-style: none;
    width:100%;
    flex-direction: row;
    border-radius:6px;
    display:flex;
    
    padding: 0px;
}
ul#ejercicios.list .texto{
    width:700px;
}
ul#ejercicios.list img{
    height: 100px;
    margin:5px 10px 5px 5px;

}

ul#ejercicios.list a{
    display: flex;
}

ul#ejercicios.list ul.tags{
   width: 25%;
   justify-content: flex-end;
}
/*  */

ul.tags li{
    border-radius: 12px;
    padding: 5px;
}
ul.tags{margin:5px;}

ul#ejercicios{
    gap: 15px;
}


img{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius:20px;
}


button{
    border: 1px solid;
    
    font-size: 17px;
    background-color: white;
    color: var(--c1);
    border-radius: 10px;
    width:100px;
    height:30px;

    transition: 0,30s;
}

button:hover{
    background-color:var(--c1);
    color:white;
}

.js{background-color: var(--js);}
.css{background-color: var(--css);}
.html{background-color: var(--html);}
.figma{background-color: var(--figma);}

@media(max-width:800px){
    ul#ejercicios.list .texto{
        max-width: 600px;
    }
    ul#ejercicios.list ul.tags{
        flex-direction: column;
        width: 60px;
    }
    
}