:root{
    --html:#53B0AE;
    --css:#9CDBFF;
    --js:#FFEFAF;
    --figma:#CDB3D4;
}


*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    font-family: sans-serif;
    padding: 15px;
    max-width: 960px;
    margin:0 auto;
}
header{
    margin: 20px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
h3{margin:5px;}
p{margin:5px;}

ul#ejercicios{ margin:20px auto;}
ul#ejercicios > li{
    width: 200px;
    border: grey 1px solid;
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
}


ul.tags{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display:flex;
    gap:6px;
    align-items: flex-end;  
}

ul#ejercicios.grid{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
/* List */
ul#ejercicios.list{
    display:flex;
    flex-direction: column;
}
ul#ejercicios.list > li{
    list-style: none;
    width:100%;
    flex-direction: row;
    border-radius:6px;
    display:flex;
    gap:15px;
    padding: 5px;
}
ul#ejercicios.list .texto{
    width:600px;
}
ul#ejercicios.list img{
    height: 100px;
    margin-right: 10px;

}

ul#ejercicios.list a{
    display: flex;
}

ul#ejercicios.list ul.tags{
   width: 100%;
   justify-content: flex-end;
}


/*  */
ul.tags li{
    border-radius: 20px;
    padding: 5px;
}

ul#ejercicios{
    gap: 15px;
}


img{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius:20px;
}

button{
    border: none;
    margin-left: 5%;
}

.js{background-color: var(--js);}
.css{background-color: var(--css);}
.html{background-color: var(--html);}
.figma{background-color: var(--figma);}